// h1 {
//   font-size: 50px
// }


//.card {
  // display: flex;
  // justify-content: space-evenly;
  // // flex-direction:column;
  // padding: 10px;                             /* Internal space */
  // border-radius: 4px;
  // border: 1px solid blue;
//}


// .flat-trip-infos {
//     padding: 16px;
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;
//     position: relative;
// }

.griddy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}
