// h1 {
//   font-size: 50px
// }


//.card {
  // display: flex;
  // justify-content: space-evenly;
  // // flex-direction:column;
  // padding: 10px;                             /* Internal space */
  // border-radius: 4px;
  // border: 1px solid blue;
//}


// .flat-trip-infos {
//     padding: 16px;
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;
//     position: relative;
// }

.griddy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);


// colour stuff
// @white: #ffffff;
// @lightBG: #dce1df;
// @salmon: #ff6666;

// @teal: #0096a0;
// @tealMid: #0ebac7;
// @tealContrast: #33ffff;
// @tealShade:	#007c85;

// @darkGrey: #4f585e;

body {
  background: #dce1df;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
  opacity: 0.8;
}

.no-touch a.btn:hover {
  background: lighten(#0096a0,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(#0096a0, 2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}
