@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);


#checky {
  background-color: #38686A!important;
  border-radius: 3%;
}

#mt-3 {
  margin-top: 3%;
}

#alllign {
  padding-left: 14px;
  margin-top: 7.5%;
  font-weight: bold;
  font-size: 14px;
  color: black !important;
}

#whitey {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

#box {
    display: flex;
    align-items: left;
    // justify-content: right;
    margin-top: 2%;
    margin-left: 5px;
    flex-direction: column;
  }

.caption {
  display: block!important;
  color: rgb(54, 69, 79)!important;
  margin-top: 2%;
  margin-left: 1%;
  font-size: 12px;
}

.mycontent-left {
  border-right: 1px dashed #333;
}
















.griddy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}

#bold {
  font-weight: bold;
  font-size: 25px;
}

.card {
  transition: all .5s ease;
  font-family:'Montserrat', sans-serif;
  margin: 20px;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color:  whitesmoke;
  justify-content: left;
  // box-shadow: 5px -5px rgba(0,0,0,0.3);
  //  -moz-box-shadow: 5px -5px rgba(0,0,0,0.3);
  //  -webkit-box-shadow: 5px -5px rgba(0,0,0,0.3);
  //  -o-box-shadow: 5px -5px rgba(0,0,0,0.3);
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.35) 0px 6px 6px;
}

.card:hover {
  transform: scale(1.10);
  will-change: transform;
  color: #FF5A5F;
  background-color: #fff;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-shadow: rgba(255, 90, 95, 0.2) 5px 5px, rgba(255, 90, 95, 0.1) 10px 10px, rgba(255, 90, 95, 0.05) 15px 15px;
}

.card:hover::after {
  transform: translate(0, 0);
}

.card-title {
  margin-bottom: 20px;
  font-weight: 800;
}

.card-text {
  color: black;
  font-weight: 600;
}

.card-textt {
  color: black;
  font-size: 20px;
  text-align: left;
}

.card-textp {
  color: black;
  text-align: left;
}

.card-group {
  display: flex;
  margin-top: 30px;
}

.card-action {
  justify-content: center;
  text-align: right;
}

.card-btn {
  text-decoration: none;
  transition: all .5s ease;
  color: #FF5A5F;
  width: 180px;
  font-weight: bolder;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding-top: 3px;
  justify-content: center;
}

.card-btn:hover {
  border: 3px solid #FF5A5F;
  transform: scale(1.05);
  will-change: transform;
  color: #FF5A5F;
  background-color: rgb(244, 238, 238);
  }

.card-btn:hover::after {
  transform: translate(0, 0);
}



.card-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 10px;
}

.card-footer:hover {
  border-top: #FF5A5F;
}
