// Specific CSS for your home-page
body {
  // background-color: rgba(73, 113, 116, 0.7);
  background-color: rgba(163, 180, 162, 0.3)!important;
}

#logo .size {
    color: #ff385c;
    font-size: 60px;
}

#logo h4 {
  color: #ff385c;
  font-weight:bolder;
}

body {
  background-color: #fceded;
}

.headline {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.carousel-inner {
  height: 50vh;
  margin-top: 30px;
}
.carousel-control-prev:hover {
  background-color: #FF5A5F;
  opacity: 0.1;
  transition: all 1s ease;
}

.carousel-control-next:hover {
  background-color: #FF5A5F;
  opacity: 0.1;
  transition: all 1s ease;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
}

.container1 {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.btn {
  transition: all .5s ease;
  color: #FF5A5F;
  border: 2px solid #FF5A5F;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  margin: 20px;
}

.btn:hover {
  border: 2px solid #FF5A5F;
  transform: scale(1.05);
  will-change: transform;
  color: #FF5A5F;
  background-color: #fff;
}


.btn:hover::after {
    transform: translate(0, 0);
}

.carousel-control-prev:hover {
  background-color: #FF5A5F;
  opacity: 0.1;
  transition: all 1s ease;
  height: 60vh;
}

.carousel-control-next:hover {
  background-color: #FF5A5F;
  opacity: 0.1;
  transition: all 1s ease;
  height: 50vh;
}

.carousel-inner {
  height: 50vh;

}


// .footer{
// position: fixed;
// bottom: 0;
// }


.footer-text {
  font-size: 12px;
  color: black;
  display: inline;
  text-decoration: none;
  margin-right: 20px;
  justify-content: center;
}

.footer a {
  text-decoration: none;
}


.footer-left {
  display: inline;
  float: left;
}

.footer-right{
  display: inline;
  float: right;
  width: 300px;
}
