<div class="container pt-3">
<h1>Bookings list</h1>

<ul>
<% #if @bookings.confirm == true %>
  <% #@flats.each do |list| %>
    <li><%#= link_to list.address%></li>
  <% #end %>
  <% #else %>
  <% #end %>
</ul>

</div>
