<div class="container pt-3">
<h1>Bookings list</h1>

<ul>
<li><%#= @user.booking.find.flat %></li>
<li><%= @user.email %></li>
<% #if @bookings.confirm == true %>
  <% #@bookings.each do |list| %>
  <% #raise %>
    <li><%#= link_to list.confirm %></li>
  <% #end %>
  <% #else %>
  <% #end %>
</ul>

</div>
