<div class="container1">
    <div class="text-center">
      <%= link_to "See Flats to rent", flats_path, class: "btn w-50"%>
      <%= link_to "Add your flat to rent", new_flat_path, class: "btn w-50"%>
    </div>
  </div>
</body>
<div class="container footer">
  <footer >
    <ul>
      <%# <div class="footer-left"> %>
        <li class= "footer-text">©2022 Airbnb, Inc.</li>
        <a href="#"><li class="footer-text">Privacy</li></a>
        <a href="#"><li class="footer-text">Terms</li></a>
        <a href=""><li class="footer-text">Sitemap</li></a>
        <a href="#"><li class="footer-text">Destinations</li></a>
      <%# </div>
      <div class ="footer-right" > %>
        <a href=""><li class="footer-text"> <i class="fa-solid fa-globe"></i> English(AU) </li></a>
        <a href=""><li class="footer-text">$AUD</li></a>
        <a href=""><li class="footer-text">Support and Resources</li></a>
      <%# </div> %>
    </ul>

</div>
</footer>
