<div class="container">
<h1>Airbnb</h1>
<p>See Flats or List your Flat</p>

<%= link_to "Check list", flats_path, class: "btn btn-primary mb3"%>
<%= link_to "Add your flat", new_flat_path, class: "btn btn-danger mb3"%>
</div>

</div>
