// .footer{
// position: fixed;
// bottom: 0;
// }
footer {
  justify-content: center;
  text-align: center;
  margin-top: 8%;
}

.footer-text {
  font-size: 12px;
  color: black;
  display: inline;
  text-decoration: none;
  margin-right: 40px;
  justify-content: center;
}

footer a {
  text-decoration: none;
}

.footer-text:hover {
  transform: scale(1.05);
  will-change: transform;
}
